body{
    background-color: #F5F8F9;
    font-family: sans-serif;
}

header {
	display: flex;
	padding: 14px; /*it 14 a*/
    background-color: #24292F;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


.header-button{
    border: 2px solid #11AAAF;
    text-align: center;
    border-radius: 16px;
    background-color: #11AAAF;
    color: #24292F;
    margin-left: 10px;
    
       padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 5px;
    align-content: center;
    border-radius: 100%;
    font-size: 18px;
}
.header-button:hover {
    background-color: #24292F;
    color: #11AAAF;
  cursor: pointer;  
}


nav {
	margin-right: 40px;
}
.first{display: inline-block;}
.second{display: inline-block;
margin-left: 830px;}
nav a {
	display: inline-block;
	margin-left: 10px;
	font-size: 15px;
	text-decoration: none;
	font-family: sans-serif;
	color: #eee;
	border-bottom:  3px solid transparent;
	padding: 10px 1px;
	transition: 200ms;
    
} 
.active {
	border-color: #11AAAF;
}
nav a:hover {
	border-color: #11AAAF;
}
.logo {
    width: 30px;
    height: 30px;
    margin: 10px;
    float: left;
}



.offer2 {
  background-color: #ffffff;
  color: black;
/*  border: 2px solid black;*/
/*  margin: 100px;*/
  padding: 25px;
          border-radius: 16px;
        
/*          margin-top: 150px;*/
  margin-bottom: 45px;
  margin-right: 190px;
  margin-left: 185px;
        
               

}
/*

.img{ 
   margin-left: 3px;
      margin-right: auto;}
    
*/
    .offer1 {
        
        
        
/*          text-align: center;*/
        
  background-color: #ffffff;
  color: black;
/*  border: 2px solid black;*/
/*  margin: 100px;*/
  padding: 25px;
          border-radius: 16px;
        
          margin-top: 70px;
  margin-bottom: 45px;
  margin-right: 190px;
        margin-left: 185px;}
        

        .offertext{
            
            font-size: 14px;
/*  margin: 0;*/
  position: absolute;
  top: 34%;
  left: 26%;
/*
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
*/
}


       .offertext2{
/*  margin: 0;*/
                        font-size: 14px;
  position: absolute;
  top: 68%;
  left: 26%;
/*
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
*/
}


.offertext3{
    
                      font-size: 14px;
  position: absolute;
  top: 101%;
  left: 26%;
    
}



.detils{
    font-family:sans-serif;
    
}


#aa,#a2:link {
/*      position:absolute;*/
/*  top: 51%;
/*  left: 50%;*/
  color: #11AAAF;
  background-color: transparent;
  text-decoration: none;
}
#aa,#a2:visited {
  color: #11AAAF;
  background-color: transparent;
  text-decoration: none;
}
#aa,#a2:hover {
  color: #11AAAF;
  background-color: transparent;
  text-decoration: underline;
}
#aa,#a2:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}



#imgg {
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 100px;
      height: 87px;
    width: 87px;
    }









select  {
  padding: 7px;
  width: 14%;
  font-size: 17px;
  font-family: roboto;
  border: none;
  border-radius: 16px;
    
    -webkit-box-shadow: 5px 5px 10px #EBEEEF; 
  -moz-box-shadow: 5px 5px 10px #EBEEEF;
    
      margin-top:8%;
  
}
#Uni{
    
    margin-left:15%;
  
}
#GPA{
      
       margin-left:3%;  
}

#City{
    
    margin-left:3%;
     }
#major{
       
      margin-left:3%;     
}








.sction3{
    background: white;
     border:none;
     border-radius: 16px;
    margin-left: 42%;
    padding: 6px;
    margin-top: 40px;
    margin-right: 600px;    
}











/*footer */
footer{
    background-color: #24292F;
    padding-bottom: 24px;
    padding-top: 24px;
    margin-top: 30px;
}
footer #footer-section-1{
    display: inline-block;
    color: white;
    margin-left: 20px;
    
}
#footer-section-1 img{
  
}
#footer-section-1 p{
    margin-left: 8px;
}
footer #footer-section-2{
    display: inline-block;
    margin-left: 600px;
     border-left: 1px solid white; /* virtical line*/
}


#footer-section-2 ul{
    list-style-type: none;
    
    
}

li .fa-facebook-f {
     border: 2px solid white;
    text-align: center;
    border-radius: 16px;
    background-color: white;
    color: #24292F;
   
       padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 5px;
    align-content: center;
    border-radius: 100%;
    font-size: 18px;
    
}
li .fa-instagram {
    margin-top: 8px;
     border: 2px solid white;
    text-align: center;
    border-radius: 16px;
    background-color: white;
    color: #24292F;
   
       padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 5px;
    align-content: center;
    border-radius: 100%;
    font-size: 18px;
    
}
li .fa-twitter{
    margin-top: 8px;
     border: 2px solid white;
    text-align: center;
    border-radius: 16px;
    background-color: white;
    color: #24292F;
    
       padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 5px;
    align-content: center;
    border-radius: 100%;
    font-size: 18px;
    
}
li .fa-brands:hover {
    background-color: #24292F;
    border-color: #24292F;
    color: white;
  cursor: pointer;  /*يصير يد اذا ضغطتي على الbutton*/
}

@media (max-width: 769px){
	header {
		flex-direction: column;
		padding: 10px;
	}


}


.bu{
 background: white;
     border:none;
     border-radius: 20px;
    margin-left: 1%;
      padding: 8px 8px 8px 8px; 
    
}
.bu:hover {
    background-color: #11AAAF;
    color: white;
    
}

