/* Style the form */
body{
    background: #F5F8F9;
    font-family: sans-serif;
}
/*header*/
header {
	display: flex;
	padding: 14px; /*it 14 a*/
    background-color: #24292F;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


.header-button{
    border: 2px solid #11AAAF;
    text-align: center;
    padding: 6px;
    border-radius: 16px;
    background-color: #11AAAF;
    color: white;
    margin-left: 10px;
}
.header-button:hover {
  cursor: pointer;  
}



nav {
	margin-right: 40px;
}
.first{display: inline-block;}
.second{display: inline-block;
margin-left: 780px;}
nav a {
	display: inline-block;
	margin-left: 10px;
	font-size: 15px;
	text-decoration: none;
	font-family: sans-serif;
	color: #eee;
	border-bottom:  3px solid transparent;
	padding: 10px 1px;
	transition: 200ms;
    
}
.active {
	border-color: #11AAAF;
}
nav a:hover {
	border-color: #11AAAF;
}
.logo {
    width: 30px;
    height: 30px;
    margin: 10px;
    float: left;
}
/**/
h1 ,h4{
    
    color: #24292F;
    text-align: center;
     font-family: sans-serif;
}

h4 {

    transform: translate(-35%,-300%); 
      
    
}

#regForm {
    
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 16px;
}

/* Style the input fields */
input , select  {
  padding: 10px;
  width: 80%;
  font-size: 17px;
  font-family: sans-serif;
  border: 0.5px solid #aaaaaa;
     border-radius: 16px;
   
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
     margin-left: 12%;
      font-family: sans-serif;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #13A050;
}
select {
     padding: 10px;
  width: 82.5%;
  font-size: 17px;
  font-family: sans-serif;
  border: 1px solid #aaaaaa;
     border-radius: 16px;
    color:#bbbbbb; 
    
}

#nextBtn, #prevBtn {
color: white;
background:#11AAAF ;
 border-radius: 16px;
border-style: none;
    height: 30px;
  width: 100px;
    margin-top: 40px;
}
#prevBtn{
background:gray;      
}
#prevBtn:hover{
cursor: pointer;
}
#nextBtn:hover{
cursor: pointer;
}

#GPA1 , #GPA2{
     border: 0.5px solid #aaaaaa;
     border-radius: 16px;
    height: 30px;
  width: 60px;
     text-align: center;
    font-family: sans-serif;
}

#GPA2{
     transform: translate(180%,-220%);
    right: 80%;
}


#birth ,#birth1 ,#birth2{
    margin-top: 4px;
     border: 0.5px solid #aaaaaa;
    height: 30px;
  width: 60px;
     border-radius: 16px;
     text-align: center;
         left: 80%;
    top: 50%;
     transform: translate(-780%,150%);
   
     font-family: sans-serif;

}
#birth1{
    right: 80%;
    transform: translate(120%,-0%);
   margin-top: 10px;
}
#birth2{
    right: 80%;
    transform: translate(240%,-140%);
      margin-top: 6px;
    
}
