
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header {
	display: flex;
	padding: 14px; /*it 14 a*/
    background-color: #24292F;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


.header-button{
    border: 2px solid #11AAAF;
    text-align: center;
    padding: 6px;
    border-radius: 16px;
    background-color: transparent;
    color: white;
    margin-left: 10px;
}
.header-button:hover {
    background-color: #11AAAF;
    color: white;
  cursor: pointer;  
}



nav {
	margin-right: 40px;
}
.first{display: inline-block;}
.second{display: inline-block;
margin-left: 780px;}
nav a {
	display: inline-block;
	margin-left: 10px;
	font-size: 15px;
	text-decoration: none;
	font-family: sans-serif;
	color: #eee;
	border-bottom:  3px solid transparent;
	padding: 10px 1px;
	transition: 200ms;
    
}
.active {
	border-color: #11AAAF;
}
nav a:hover {
	border-color: #11AAAF;
}
.logo {
    width: 30px;
    height: 30px;
    margin: 10px;
    float: left;
}
.button1{
    background: #11AAAF; 
    color: #ffff; 
    text-align:center;
    font-family: sans-serif;
    border-radius: 16px;
   
    border: none;
   
    font-size: 18px;
/*    font-weight:lighter;*/
    margin-left:105px; 
    
       padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 44px;
    padding-right: 44px;
}

.button1:hover {
    background-color: white;
    color: #11AAAF;
    border: 2px solid #11AAAF;
    cursor: pointer;
    
}
p{
    font-size: 50px;
    
}
body {
    background-color: #F5F8F9;      
}

.login-form {
    width: 350px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position : absolute;
    color: #24292F;
}

.login-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.login-form p{
    font-size: 16px;
    width:100%
        padding :15px 10px;
    border;0;
    outline: none;
    border-radius: 5px;
}


input[type=text] ,[type=password] {
  width: 150%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border-width:inherit;
  -webkit-box-shadow: 5px 5px 10px #EBEEEF; /*fileds shadow*/
  -moz-box-shadow: 5px 5px 10px #EBEEEF;
   font-size: 15px;
   margin-left:-68px;
}

